body {
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

/* game board table */

h1 {
  font-size: 50px;
  margin:5px;
  color:purple;
}

p {
  font-size: 30px;
  margin:5px;
}

#board td {
  width: 60px;
  height: 60px;
  border: solid 2px rgb(226, 223, 34);
  border-radius: 50%;
}

#game {
  border: 5px solid black;
  border-radius: 10%;
}

#form-control {
  margin-bottom:10px;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

#player1,
#player2 {
  height:30px;
  width: 350px;
  font-size: inherit;
}

#player1 {
  margin-left:18px;
}

#player2 {
  margin-left:15px;
}

button {
  font-family: inherit;
}

label[for=player1] {
  color:red;
  font-size: 30px;
}

label[for=player2] {
  color:blue;
  font-size: 30px;
}
/* pieces are div within game table cells: draw as colored circles */

.piece {
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  animation: drop 1s ease-out;
}

.p1 {
  background-color: red;
}

.p2 {
  background-color: blue;
}
/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 2px red;
}

#column-top td:hover {
  background-color: gold;
}

#submit-btn,
#reset-btn {
  cursor: pointer;
  background-color: lavenderblush;
  font-size: 20px;
  margin:10px;
  padding:5px;
}

#submit-btn:hover,
#reset-btn:hover {
  opacity:50%;
  transform:translateY(-3px);
  transition-duration: 0.5s;
}

@keyframes drop {
  0% { transform: translateY(-400px); }
  100% { transform: translateY(0px); }
}

.p1-lotr {
  background-image: url("images/lotr-sauron.jpeg");
  background-size:cover;
  background-position: center;
}

.p2-lotr {
  background-image: url("images/lotr-gandalf.jpeg");
  background-size:cover;
  background-position: center;
}

#lotr-theme {
  margin:0;
  padding:0;
  cursor: pointer;
}

label[for=lotr-theme]{
  cursor:pointer;
  font-size: 20px;
}